.header_1_0_0 {
  background-color: #004689;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__aside {
    display: flex;
    align-items: center;
    transition: 0.5s all;
  }
  &__list {
    margin: 0;
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
    }
  }
  &__item {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 35px 12px;
    display: block;
    &.active {
      background-color: #0153a2;
    }
  }
  &__logoMb,
  &__menu,
  &__call {
    display: none;
  }
  &__bg {
    display: none;
    transition: 0.5s all;
  }
  &__btn {
    display: flex;
    &Item {
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      &--blue {
        background-color: #0082ff;
        margin-left: 20px;
      }
      &--red {
        background-color: #d2322f;
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .header_1_0_0 {
    &__list {
      padding-left: 5px;
    }
    &__item {
      padding: 35px 7px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .header_1_0_0 {
    height: 80px;
    position: fixed;
    z-index: 10;
    width: 100%;
    &__logo {
      margin-top: 5px;
      img {
        width: 100px;
        height: auto;
      }
    }
    &__section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__box {
      position: relative;
      height: 80px;
    }
    &__menu {
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__call {
      display: block;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #fff;
      }
    }
    &__aside {
      position: fixed;
      display: block;
      background-color: #004689;
      z-index: 99;
      top: 0;
      left: 0;
      width: 270px;
      height: 100vh;
      overflow-y: auto;
      transform: translateX(-100%);
      &.show {
        transform: translateX(0);
      }
    }
    &__list {
      display: block;
      width: 100%;
      padding: 0;
      margin: 20px 0;
      li {
        align-items: unset;
        border-top: 1px dotted rgba(255, 255, 255, 0.2);
      }
    }
    &__item {
      padding: 9px 12px;
    }
    &__logoMb {
      display: block;
      margin-top: 20px;
      text-align: center;
    }
    &__btnItem {
      display: block;
      max-width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    &__bg {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
      &.active {
        display: block;
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  .header_1_0_0 {
    &__logo img {
      width: 90px;
      height: auto;
    }
  }
}
@media only screen and (max-width: 320px) {
  .header_1_0_0 {
    &__aside {
      width: 190px;
    }
  }
}
